/* .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
} */
.question-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
    background-color: gainsboro;
    border: 2px solid gray;
} 
#question {
    background-color: gainsboro;
}
.btn-grid {
    display: grid;
    background-color: gainsboro;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn.correct {
    background-color: green;
}
.btn.wrong {
    background-color: red;
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.hide {
    display: none;
}
#scores {
    font-size: 20px;
    text-align: left;
}
.timer {
    color:white;
    background-color: red;
    font-weight: bold;
    font-size: larger;
    margin-right: 50px;
}
.save-btn {
    margin-left: 195px;
    padding: 5px;
    margin-top: 10px;
}